.card {
  background-color: #ffffff; 
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 16px; 
  margin-bottom: 16px;
  display: flex; 
  flex-direction: column; }

.card h1, .card h2 {
  margin: 0; 
  font-family: 'Open Sans', sans-serif; 
}

#get-clients {
  display: flex;
  flex-direction: column; 
  gap: 16px; 
}
