<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Clients</title>
  <link rel="stylesheet" href="view_client.css">
  <link rel="stylesheet" href="add_client.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Clients</h1>
  <div class="get-clients">
    <div class="'card">
      <h1>Variable: Client 1 First Name & Client Last Name</h1>
      <h2>Variable: Client 1 Email</h2>
      <h2>Variable: Client 1 Contact Number</h2>
    </div>
  </div>
    <div class="'card">
      <h1>Variable: Client 2 First Name & Client Last Name</h1>
      <h2>Variable: Client 2 Email</h2>
      <h2>Variable: Client 2 Contact Number</h2>
    </div>
</body>
</html>